[![build status](https://gitlab.internal.sanger.ac.uk/hgi/{{ repository_name }}/badges/master/build.svg)](https://gitlab.internal.sanger.ac.uk/hgi/{{ repository_name }}/commits/master)

# {{ title }}
_{{ description }}_
